import React from 'react';
import use{{pascalCase name}}, { {{pascalCase name}}Props } from "./use{{pascalCase name}}"


export default function {{pascalCase name}}(props: {{pascalCase name}}Props) {
  const hook = use{{pascalCase name}}(props);

  return (
    <div>
      {{pascalCase name}} component
    </div>
  );
}